.heading {
  margin-bottom: 16px;
}

.heading > h6 {
  font-size: 20px;
}

.heading > p {
  font-size: 12px;
  line-height: 19px;
  color: #b2bbd5;
}

.countries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loading {
  font-size: 24px;
  text-align: center;
}
