.container {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 80px;
}

.header img {
  position: relative;
  max-width: 180px;
  top: 20px;
  left: 300px;
}

.left {
  width: 5%;
}

.right {
  width: 16.6%;
}

.main {
  width: 78%;
  margin: 80px 111px;
}

@media screen and (max-width: 925px) {
  .header > img {
    top: 20px;
    left: 100px;
  }
  .main {
    margin: 40px 60px;
  }
}

@media screen and (max-width: 430px) {
  .right,
  .left {
    display: none;
  }
  .main {
    margin: 20px auto;
  }
}
