.container {
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #3b445c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.header > img {
  position: relative;
  max-width: 180px;
  top: 20px;
  left: 300px;
}

.left {
  position: absolute;
  width: 100px;
  min-height: 1360px;
  height: 100%;
  left: 0px;
  top: 80px;
  background: #3b445c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.right {
  position: absolute;
  width: 318px;
  height: 100%;
  min-height: 1360px;
  right: 0px;
  top: 80px;
  background: #3b445c;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.main {
  position: absolute;
  left: 211px;
  top: 160px;
  right: 429px;
}

@media screen and (max-width: 1154px) {
  .right {
    width: 100px;
  }

  .main {
    right: 211px;
  }
}

@media screen and (max-width: 925px) {
  .right {
    min-height: 1890px;
  }

  .left {
    min-height: 1890px;
  }
  .header > img {
    top: 20px;
    left: 100px;
  }
}

@media screen and (max-width: 725px) and (min-width: 626px) {
  .main {
    right: 130px;
    left: 130px;
  }
}

@media screen and (max-width: 625px) {
  .right {
    width: 20px;
  }

  .left {
    width: 20px;
  }

  .main {
    right: 50px;
    left: 50px;
  }
}

@media screen and (max-width: 430px) {
  .right {
    min-height: 2250px;
  }

  .left {
    min-height: 2250px;
  }
}
