.container {
  height: 77px;
  border-radius: 3px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.searchBar {
  width: 100%;
  margin: 0 24px;
  height: 45px;
  background: #5c6989;
  border-radius: 45px;
  display: flex;
  align-items: center;
}

.searchBar > img {
  position: relative;
  left: 18px;
  max-width: 20px;
  max-height: 20px;
  transform: rotateZ(-20deg);
}

.searchBar > form {
  position: relative;
  left: 30px;
  width: 100%;
}

.searchBar > form > input {
  height: 45px;
  width: 90%;
  background: #5c6989;
  border: none;
  border-radius: 45px;
  outline: none;
  color: #b2bbd5;
}

.searchBar > form > input::placeholder {
  color: #b2bbd5;
  font-style: italic;
  font-size: 12px;
}

@media screen and (max-width: 580px) {
  .searchBar > form > input::placeholder {
    font-size: 8px;
  }
}
